//
//  Config.xcconfig
//  DockPhobia
//
//  Created by neon443 on 26/05/2025.
//

VERSION = 1.5
BUILD_ID = 8
TEAM_ID = 8JGND254B7
BUNDLE_ID = com.neon443.DockPhobia

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
